<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	<main role="main" class="main">
        <div class= "l-container">

            <section class="c-section">
                <h3 class="c-kicker">Website Coming Soon!</h3>
                <h1>{{ site.title }}</h1>
                <p class="c-tagline u-text-italic">Your one-stop shop for your commercial and personal vinyl needs!</p>
                <img src="/images/triangles.svg" alt="triangles" class="c-graphic" />
                <h2 class="vcard u-text-uppercase u-text-italic u-margin-bottom"><a href="tel:412-226-5006">Call <span class="tel">412-226-5006</span> for a quote</a></h2>
                {{ content }}
                <div class="c-address vcard adr">
                    <div class="street-address">23 Dewey Ln</div>
                    <div class="street-address">Suite D1</div>
                    <span class="locality">Gibsonia</span>, <span class="region">PA</span> <span class="postal-code">15044<span>
                </div>
            </section>

        </div>
	</main>

</body>

</html>
